<html>
    <head>
	<title><%= postTitle %></title>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/journal/bootstrap.min.css" rel="stylesheet" integrity="sha384-r/qnS4YZBLuBSKeVc+sM4eUYUiJMFhkHfx1nwlErHhTd+NgeJlN/NiiTd6jbKJzm" crossorigin="anonymous">
	<link rel="stylesheet" href="<%= styleSheet %>"/>
    </head>
    <body>
	<div class="container">
	    <div class="row">
	      <div class="col-lg-3">
		<div class="affix">
		    <h2>Posts</h2>
		    <ul>
                    <% postList.forEach(function(p) { %>
			<% var title = p.slice(0, -3); %>
			<li>
                            <a href="<%='/posts/' + title %>">
				<%= title %>
                            </a>
			</li>
                    <% }); %>
		    </ul>
		</div>
	      </div>
	      <div class="col-lg-9">
	    	  <%- body %>
	      </div>
	    </div>
	</div>
    </body>
</html>
